production:
  youtube_sync:
    class: SyncYoutubeChannelJob
    queue: default
    args: ["UCFfHVZhyEiN1QXX4s3Z_How", {"max_videos": 50, "update_existing": true}]
    schedule: at 2am every day
#   periodic_cleanup:
#     class: CleanSoftDeletedRecordsJob
#     queue: background
#     args: [ 1000, { batch_size: 500 } ]
#     schedule: every hour
#   periodic_command:
#     command: "SoftDeletedRecord.due.delete_all"
#     priority: 2
#     schedule: at 5am every day
